@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100;1,300;1,500&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",serif;
    text-decoration: none;
    list-style: none;

}


html{
    scroll-behavior: smooth;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 40%;
    z-index: 3;
    display: none;
}
.fab,.fas{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 2rem;
   height: 2rem;
   border-radius:0.4rem;
   font-size: 1.5rem;
   cursor: pointer;
   margin-top: 2px;
}

.fa-facebook-f{
    background: darkblue;
}
.fa-whatsapp{
    background: linear-gradient(to top,rgb(1, 122, 1) ,rgb(3, 211, 3));
}
.fa-instagram{
    background: linear-gradient(to top, rgb(211, 102, 0) ,rgb(206, 44, 3), rgb(73, 2, 131), rgb(47, 0, 255));
}
.fa-envelope{
    background: rgb(251, 38, 0);
}

.fab:hover,.fas:hover{

    width: 3.2rem;
}


.header{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url("/imagens/background-criança.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

}


.img-brinquedoteca img{
    position: absolute;
    top: -40rem;
    left: 40%;
    width: 20rem;
    opacity: 0;
    animation:moveBinquedoteca 3s forwards ;
    animation-delay: 3s;
    cursor: pointer;

}



@keyframes moveBinquedoteca{
    
    100%{
        opacity: 1;
        top: 0%;
    }

}

#chat-robo{
    color: rgb(255, 255, 255);
    text-shadow: -0.2rem -.1rem 3px rgba(0, 0, 0, 0.7);
    box-shadow: -0.4rem -.1rem 7px rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 18rem;
    left: 22rem;
    padding: 1rem;
    border-radius: 100% 50% 50% 100%;
    background: #fffbd5;  
    background: -webkit-linear-gradient(to right, #df7d90, #f8c25f);  
    background: linear-gradient(to right, #df7d90, #f8c25f); 
    opacity:0;
    animation: Balao 12s ease-in-out;
    animation-delay: 4s;
    
}

 @keyframes Balao{
       10%{
           opacity: 1;
       }
        
       30%{
           opacity: 0;
       }
       100%{
        transform: translateX(3000px);
        opacity: 0;
       }
    
} 

.logo img{
  position: absolute;
  width: 30rem;
  opacity: 0;
  bottom: 6rem;
  animation: movRobo 17s ease-in-out; 
  animation-delay: 2s;
}

@keyframes movRobo{
   0%{
    transform: translateX(-1000px);
   }

   5%{
    transform: translateX(0);
    opacity: 1;
   }

   100%{
    transform: translateX(3000px);
    opacity: 1;
   }
}


.imagem-parallax{
    width: 100%;
    height: 30vh;
    background-image: url("/imagens/background-criança\ -\ Copia.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


  @media(max-width:768px){
    :root{
        font-size: 70%;
    }
    .img-brinquedoteca img{
        left: 23%;
    }

    .redes-sociais{
        display: none;
    }

    #mao-e-robo,
    #mao-d-robo,
    #robo-menu,
    #chat-robo,
    .logo img{
        display: none;
    }
    
}  

